<style type = 'text/css'>
    .new_sms_template{
        width:auto;
    }

    .edit_sms_form{
        width:auto
    }
    
    .sms_test{
        width:100%;
    }
    
    .new_sms_text{
        width:100%;
    }
    
</style>

<div class = 'container new_sms_template'>
    <div class = 'row'>
        <form action = '#' method = 'POST'>
            {% csrf_token %}
            <div id = "sms_form">
                <div class = 'container edit_sms_form'>
                    {% if show_title %}
                        <div class = 'row'>
                            <div class = 'col-md-4 new_sms_title'>
                                <input type = 'text' id = 'template_title' name = 'template_title' placeholder = 'Insert title here'>
                            </div>
                        </div>
                    {% endif %}
                    <div class = 'row'>
                        <div class = 'col-md-4 new_sms_text'>
                            <textarea id = 'sms_template' name = 'sms_template'>{{ sms_template.template_text }}</textarea>
                        </div>
                    </div>
                    {% if not hide_received_text %}
                    <div class = 'row'>
                        <div class = 'col-md-4 sms_received_text'>
                            <input type = 'checkbox' id = 'view_received_text' name = 'view_received_text'> Auto reply
                        </div>
                    </div>
                    <div class = 'row'>
                        <div class = 'col-md-4'>
                            <textarea id = 'received_text' name = 'received_text'>{{ sms_template.received_text }}</textarea>
                        </div>
                    </div>
                    <script type = 'text/javascript'>
                        {% if template_is_not_reply %}
                            $('#received_text').hide()
                            $('#view_received_text').prop('checked', false)
                        {% else %}
                            $('#received_text').show()
                            $('#view_received_text').prop('checked', true)
                        {% endif %}
                                                    
                        $('#view_received_text').change(function(){
                            $('#received_text').toggle()
                        })
                    </script>
                    {% endif %}
                    <div class = 'row'>
                        <div class = 'col-md-4'>
                            <input type = 'submit' id = 'submit' value = 'Submit new template'>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class = 'row'>
        <div class = 'col-md-4 sms_test'>    
            {% csrf_token %}
            <div id = "sms_form_test">
                <textarea id = 'sms_template_test' name = 'sms_template_test' readonly></textarea>
            </div>
        </div>
    </div>
        <script type = 'text/javascript'>
            old_template = $('#sms_template').text()
            replace_tags(old_template)
            
            
            $('#sms_template').bind('input propertychange', function(){
                replace_tags(this.value)
            });
            
            function replace_tags(old_template)
            {
            
                tags = {};
                {% for key, value in test_contact.attrs %}
                    tags['<{{ key }}>'] = "{{ value }}"
                {% endfor %}
                
                new_template = old_template
                for (var tag in tags)
                {
                    var re = new RegExp(tag, 'g')
                    new_template = new_template.replace(re, tags[tag]);
                }
                
                $('#sms_template_test').val(new_template);
            }
        </script>                

</div>
