{% extends 'base.html' %}
{% block vap_content %}
    <table class = 'table'>
        <tr>
            <th>
                Title
            </th>
            <th>
                Date sent
            </th>
            <th>
                Sent to:
            </th>
        </tr>
    {% for history in sms_history %}
        <tr>
            <td>
                <a href = '{% url 'sms_app:view_sms_template' history.message_template.pk %}'>
                    {{ history.message_template.template_title }}
                </a>
            </td>
            <td>
                {{ history.sent_date }}
            </td>
            <td>
                <a href = "{% url 'sms_app:sms_template_stats' history.pk %}" id = 'view_users_{{forloop.counter}}'> View users </a>
            </td>
    {% endfor %}
    </table>
{% endblock %}

