{% extends 'base.html' %}
{% block vap_head %}
    <style type = 'text/css'>
        #sms_template, #sms_template_test{
          width:80%;
          height:20%;
        }

    </style>
{% endblock %}
{% block vap_content %}    
    <div class = 'container'>
        <div class = 'row'>
            <div class = 'col-md-4'>
                Create a new template
                {% include 'sms_app/new_template_form.html' with show_title=True %}
            </div>
            <div class = 'col-md-8'>
                Created templates
                {% for sms_template in sms_templates %}
                    {{ sms_template.text }}
                    {% include 'sms_app/template_cell.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

