<style type = "text/css">
    .sms_template_cell_right{
        float: right;
        text-align:right;
    }
</style>

<div class = "sms_template_cell">
  <li class = list-group-item>
    <a href = "{% url "sms_app:view_sms_template" sms_template.pk %}"> 
        {{ sms_template.template_title }} 
    </a>
    {% if enable_delete %}
        <div class = 'sms_template_cell_right'>
            {% include 'sms_app/sms_delete_message.html' with dialog_name="delete_template" delete_url="sms_app:delete_sms_template" object_id=sms_template.pk extra_message="This action will be logged." object=sms_template.template_title %}
            <a href = '#delete_template_div_{{sms_template.pk}}' rel="modal:open" title = 'Delete template'><i class="fa fa-times" aria-hidden="true"></i>
</a></br>
            Auto reply
            <input type = 'checkbox' id = 'auto_reply_{{sms_template.pk}}' name = 'auto_reply' {% if sms_template.messagetemplateautoreply %}checked = true{% endif %}>
            <script type = 'text/javascript'>
                $('#auto_reply_{{sms_template.pk}}').click(function(){
                    var action = ''
                    if (this.checked) {
                        action = "{%url "sms_app:add_auto_reply" sms_template.pk %}"
                    }
                    else{
                        action = "{%url "sms_app:remove_auto_reply" sms_template.pk %}"
                    }
                    window.location = action
                })
            </script>
        </div>

    {% endif %}
  </br>
  {{ sms_template.template_text }} </li>                  
</div>

