<style type = "text/css">
    .sms_template_cell_right{
        float: right;
        text-align:right;
    }
</style>

<div class = "sms_template_cell">
  <li class = list-group-item>
    <a href = "{% url "sms_app:view_sms_template" sms_template.pk %}"> 
        {{ sms_template.template_title }} 
    </a>
    {% if enable_delete %}
        <div class = 'sms_template_cell_right'>
            {% include 'sms_app/sms_delete_message.html' with dialog_name="delete_template" delete_url="sms_app:delete_sms_template" object_id=sms_template.pk extra_message="This action will be logged." object=sms_template.template_title %}
            <a href = '#delete_template_div_{{sms_template.pk}}' rel="modal:open" title = 'Delete template'><i class="fa fa-times" aria-hidden="true"></i>
</a></br>
            {% if sms_template.received_text %}
                <a href = "{%url "sms_app:remove_auto_reply" sms_template.pk %}" title = "Remove auto reply"><i class="fa fa-minus" aria-hidden="true"></i>
</a>
            {% else %}
                <a href = "{%url "sms_app:add_auto_reply" sms_template.pk %}" title = "Use as auto reply"><i class="fa fa-reply" aria-hidden="true"></i>
</a>
            {% endif %}
        </div>

    {% endif %}
  </br>
  {{ sms_template.template_text }} </li>                  
</div>

