{% extends 'base.html' %}
{% block vap_head %}
    <style type = 'text/css'>
        #sms_template, #sms_template_test{
          width:100%;
          height:20%;
        }
        
        .users_query #name, .users_query #address, .users_query #phone_number{
            width:100%;
        }
        
        .query_elements_match_width{
            width:100%;
        }
    </style>
{% endblock %}
{% block vap_content %}
    <div class = 'container'>
        <div class = 'row'>
            <div class = 'col-md-4'>
                {% include 'sms_app/new_template_form.html' with show_title=False hide_received_text=template_is_not_reply template_is_not_reply=template_is_not_reply%}
            </div>
            <div class = 'col-md-4 users_query'>
                Query users : 
                <form method = 'GET' action = #>
                    <input id = 'name' type = 'text' name = 'name' placeholder = 'name'>
                    <input id = 'address' type = 'text' name = 'address' placeholder = 'address'>
                    <input id = 'phone_number' type = 'text' name = 'phone_number' placeholder = 'phone_number'></br>
                    <input type = 'text' name = 'balance' placeholder = 'balance'>
                    <input type = 'radio' name = 'balance_operator' value = 'gte'>>=
                    <input type = 'radio' name = 'balance_operator' value = 'lte'><=
                    <input type = 'radio' name = 'balance_operator' value = '' checked = 'checked'>=</br>
                    <input type = 'radio' name = 'contact_type' value = 'private' >Private
                    <input type = 'radio' name = 'contact_type' value = 'business'>Business</br>
                    <input type = 'submit'>
                </form>
            </div>
            <div class = 'col-md-4'>
                <form action = "{% url 'sms_app:sms_template_action' sms_template.id %}" method = 'POST' >
                    {% csrf_token %}
                    <label>
                        <input type = "checkbox" name = "select_all_users" id = "select_all_users"> 
                            Select/deselect all users
                    </label>
                    <script type = "text/javascript">
                        $('#select_all_users').click(function(event){
                            all_checked = this.checked
                            $(':checkbox').each(function() {
                                this.checked = all_checked
                            })
                        })
                    </script>
                    <a href = '#' id = 'view_queried_users'>
                        View users
                    </a>
                    </br>
                    <div class = 'queried_users btn-default'>
                        {% for user in queried_users %}
                            {% include "sms_app/queried_user_cell.html" with checkbox=True %}
                        {% endfor %}
                    </div>
                    <script type = 'text/javascript'>
                        $('.queried_users').hide()
                        {% for user in sms_template.subscribed_users.all %}
                            $('#va_user_checkbox_{{user.name}}').prop('checked',true)
                        {% endfor %}
                        $('#view_queried_users').click(function(event){
                            $('.queried_users').toggle()
                        })
                    </script>
                    <input type = 'submit' name = 'send_messages' value = 'Send messages'> 
                    {% if not template_is_not_reply %}
                        <input type = 'submit' name = 'subscribe_users' value = 'Subscribe users'> 
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

