{% extends 'base.html' %}
{% block vap_head %}
    <style type = 'text/css'>
        #sms_template, #sms_template_test{
          width:80%;
          height:20%;
        }

    </style>
{% endblock %}
{% block vap_content %}
    <div class = 'container'>
        <div class = 'row'>
            {% include 'sms_app/new_template_form.html' %}
            <div class = 'col-md-4'>
                Query users : 
                <form method = 'GET' action = #>
                    <input type = 'text' name = 'name' placeholder = 'name'>
                    <input type = 'text' name = 'address' placeholder = 'address'>
                    <input type = 'text' name = 'balance' placeholder = 'balance'>
                    <input type = 'text' name = 'phone_number' placeholder = 'phone_number'></br>
                    <input type = 'radio' name = 'contact_type' value = 'private'>Private
                    <input type = 'radio' name = 'contact_type' value = 'business'>Business</br>
                    <input type = 'submit'>
                </form>
                {% for user in queried_users %}
                    {% include "sms_app/queried_user_cell.html" %}
                {% endfor %}
                <a href = "{% url 'sms_app:send_sms' %}" class = 'button'> Send messages </a>
            </div>
        </div>
    </div>
{% endblock %}

